{% extends "snips/base.html" %}
{% block body %}
<h2 style="text-align:center;">Gallery</h2>
<div class ="row">
    <label for="name">Name:</label>
        <p id="name">John Doe</p>
</div>
<div class ="row">
    <label for="address">Address:</label>
        <p id="address">1234 Generic Dr</p>
</div>
<div class ="row">
    <label for="email">Email:</label>
        <p id="email">example@example.com</p>
</div>
<div class="row">
    <label for="phone">Phone:</label>
        <p id="phone">(000)123-4567</p>
</div>
<div class="row">
    <label for="website">Personal Website</label>
    <p id="website">http://example.com</p>
</div>
<div class="row">
    <label for="cv">CV:</label>
</div>
<div class="row">
    <label for="statement">Artist Statement:</label>
</div>
{% endblock %}
