{% extends "/snips/base.html" %}
{% block body %}
<link rel='stylesheet' type="text/css" href='/static/css/local/queue.css' />
<div class="jumbotron">
   <h2>Welcome to the Archive</h2>
   <p>Here you can see your completed or cancelled requests.</p>
</div>

<table class="table table-bordered" id="queue">
   <thead>
    <tr>
      <th>#</th>
      <th>Date of Request</th>
      <th>Date Due</th>
      <th>Requestor(s)</th>
      <th>Brief Description</th>
      <th>Status of Request</th>
      <th>Staff Assigned to Request</th>
    </tr>
  </thead>
  <tbody>
   {% set counter = 1 -%}
   {% for form in forms -%}
      <tr>
         <td>{{counter + loop.index0}}</td>
         <td>{{form.submit_date}}</td>
         <td>{{form.date_needed}}</td>
         <td>
               {% for value in requestorDict[form.FID] %}
               <div>
                  {{value}}
                  {% if not loop.last %}
                     <hr style='margin:0px;'>
                  {% endif %}
               </div>
               {% endfor %}
            </dd>
         </td>
         <td>
            <a href='/form/summary/{{form.FID}}' style = "color: #3498db">{{form.output}}</a>
         </td>
         <td>{{form.status}}</td>
         <td>{{staffDict[form.FID]}}</td>
      </tr>
   {% endfor %}
   </tbody>
</table>



<script src="/static/js/local/queue.js"></script>
{% endblock %}