{% extends "snips/base.html" %}
{% block body %}
<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <label for="galleryName">Gallery</label>
      <input type="text" id="galleryName" class="form-control mx-sm-3" aria-describedby="galleryName">
    </div>
  </form>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <div class='input-group date' id='startDate'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
            $(function () {
                $('#startDate').datetimepicker();
            });
        </script>
  <div class="col-sm-3">
    <div class="form-group">
      <div class='input-group date' id='endDate'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
            $(function () {
                $('#endDate').datetimepicker();
            });
        </script>
</div>
<div class="row">
  <div class="modal-body">
      <form action="/file-upload"
        class="dropzone"
        id="my-awesome-dropzone"></form>
  </div>
</div>
<div class="row">
  <form>
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        Description
    </textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'editor1' );
    </script>
    </form>
</div>
<button type="button" class="btn btn-light">Cancel</button>
<button type="button" class="btn btn-primary">Submit</button>
{% endblock %}
