{% extends "snips/base.html" %}
{% block body %}
<div class="row">
  <h1 class="text-center col-xs-12"> {{gallery.title}}</h1>
  <div class="col-xs-12 text-center">
    <h4>Closes: {{gallery.close_date.strftime('%Y-%m-%d')}}</h4>
  </div>

</div>
<div>
  <br/>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="{{gallery.banner.filepath}}" class="img-responsive center-block">
  </div> 
  
  <div class="col-xs-12">
    <br/>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    {{gallery.description | safe}}
  </div>
</div>

<div class="row">
  {% if is_admin %}
    <a class="btn btn-success pull-right" href="#" role="button">Copy Link To Application (NOT COMPLETE)</a>
  {% else %}
    <a class="btn btn-success pull-right" href="#LINK" role="button">Apply</a>
  {% endif %}
</div>
{% endblock %}
