{% extends "snips/base.html" %}
{% block body %}
    <div class="modal fade" id="uploadModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Attachments</h4>
                </div>
                <div class="modal-body">
                    <p class="help-block">If you have any additional attachments you would like to add to this request please do so here.</p>
                    <form class="dropzone" id="drop" action = "/upload/file/{{FID}}">
                        <div class="box"></div>
                    </form>
                </div>
                <div class="modal-footer">
                <a href="/upload/feedback" onclick="closeModal()" class="btn btn-success" >Submit</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/local/upload.js"></script>
{% endblock %}