{% extends "snips/base.html" %}
{% set currentPage = 'List of Students' %}
{% block body %}
<div id="List of Names">
    <h2>Contact Us</h2>
    <p>If you have any question or concerns about this website please feel free to contact one of the people in the table down below.</p>
    <table class="table table-bordered">
        
    <tr class"info"> 
        <th>Name</th>
        <th>Email</th>
    </tr>
    

    {% for faculty in cfg.contact_list %}
    <tr class"info">
        <td>{{faculty.name}}</td>
        <td><a href = "mailto:{{faculty.email}}" >{{faculty.email}}</a></td>
    </tr>
    {% endfor %}
    </table>
   
</div>
{% endblock %}