<div class="modal fade" id = "editNote{{note.SNID}}" role = "textbox" tabindex = "-1" aria-labeledby ="myNotesModal">
    <div class="modal-dialog modal-md" role="textbox"> 
             <div class="modal-content">
                    <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                     <h4>Edit Note</h4>
                    </div>
            <div class="modal-body">
                <textarea rows ="5"  cols = "50" id="changedNote"> {{note.notes}} </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick= "editNote('{{note.SNID}}','{{note.FID.FID}}')">Save Changes</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
     </div>
</div>
